<a href="https://colab.research.google.com/github/hoonzi-s/SmartChian/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

In [31]:
df0 = pd.read_csv('/content/drive/MyDrive/스마트치안/KP2020.csv', encoding = 'euc-kr')
df1 = pd.read_csv('/content/drive/MyDrive/스마트치안/KP2021.csv', encoding = 'euc-kr')
df = pd.concat([df0, df1])

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2671137 entries, 0 to 2594059
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   RECV_DEPT_NM   object
 1   RECV_CPLT_DM   object
 2   NPA_CL         int64
 3   EVT_STAT_CD    int64
 4   EVT_CL_CD      int64
 5   RPTER_SEX      float64
 6   HPPN_PNU_ADDR  object
 7   HPPN_X         float64
 8   HPPN_Y         float64
 9   SME_EVT_YN     object
dtypes: float64(3), int64(3), object(4)
memory usage: 224.2+ MB

In [33]:
df.NPA_CL.value_counts().sort_index()

8        5348
9         685
10        543
11       1215
12        458
13    1065727
14        198
15       7811
16        908
17        612
18       6395
19    1479674
20       3039
21        998
22        865
23        652
24        259
31      95750
Name: NPA_CL, dtype: int64

In [11]:
df = df.loc[df.NPA_CL.isin([13, 19, 31]), :]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76326 entries, 0 to 77076
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RECV_DEPT_NM   76326 non-null  object
 1   RECV_CPLT_DM   76326 non-null  object
 2   NPA_CL         76326 non-null  int64
 3   EVT_STAT_CD    76326 non-null  int64
 4   EVT_CL_CD      76326 non-null  int64
 5   RPTER_SEX      73907 non-null  float64
 6   HPPN_PNU_ADDR  47054 non-null  object
 7   HPPN_X         59563 non-null  float64
 8   HPPN_Y         59563 non-null  float64
 9   SME_EVT_YN     13299 non-null  object
dtypes: float64(3), int64(3), object(4)
memory usage: 6.4+ MB

In [12]:
df.RECV_DEPT_NM.value_counts()

충남청         41326
대전청         34366
2지구대(충남)       95
대전역지구대         89
남대전지구대         70
대전동부           64
서대전지구대         60
대전둔산           55
대전유성           48
대전중부           47
대전서부           47
대전대덕           34
세종             14
세종청            11
Name: RECV_DEPT_NM, dtype: int64

In [15]:
df.EVT_CL_CD.value_counts().sort_index()

104     1106
105        8
106       73
107     1102
108      108
109       33
201     1837
202      398
204       40
205      398
206      382
207       63
208      331
209      142
210     1523
211      281
212       26
213       27
214       12
215     1637
301     2574
302     2092
303      284
304      327
305      982
306      891
307     6191
308      211
401     6150
402     1287
403      500
405        1
406     1260
501    16295
502      174
503      622
504       18
505      233
506      559
507       57
508      378
509      453
601    21966
602      172
603       78
604     1311
606      978
607       68
609      641
610       46
Name: EVT_CL_CD, dtype: int64

In [26]:
phishing = df.loc[df.EVT_CL_CD == 215]
display(pd.DataFrame(phishing.info()))
display(phishing.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1637 entries, 333 to 76725
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RECV_DEPT_NM   1637 non-null   object
 1   RECV_CPLT_DM   1637 non-null   object
 2   NPA_CL         1637 non-null   int64
 3   EVT_STAT_CD    1637 non-null   int64
 4   EVT_CL_CD      1637 non-null   int64
 5   RPTER_SEX      1637 non-null   float64
 6   HPPN_PNU_ADDR  1498 non-null   object
 7   HPPN_X         1614 non-null   float64
 8   HPPN_Y         1614 non-null   float64
 9   SME_EVT_YN     198 non-null    object
dtypes: float64(3), int64(3), object(4)
memory usage: 140.7+ KB

Empty DataFrame
Columns: []
Index: []

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
333,충남청,20/12/01 15:06:38.000000000,19,10,215,1.0,충청남도 아산시 온천동(온양1동) 1556(신학산텔레콤),127.001705,36.786898,NaN
360,충남청,20/12/01 14:53:20.000000000,19,10,215,2.0,충청남도 공주시 우성면 동대리(행정:우성면) 173,127.052120,36.470196,NaN
367,충남청,20/12/01 11:15:43.000000000,19,10,215,2.0,충청남도 공주시 반포면 공암리(행정:반포면),127.251164,36.395766,NaN
372,충남청,20/12/01 13:08:09.000000000,19,10,215,1.0,충청남도 아산시 음봉면 삼거리(행정:음봉면) 203-3,127.012487,36.849074,NaN
375,충남청,20/12/01 14:00:07.000000000,19,10,215,1.0,충청남도 천안시 동남구 다가동(일봉동) 354-1(농협중앙회봉명지점),127.140700,36.802345,NaN

In [27]:
phishing.EVT_STAT_CD.value_counts().sort_index()

5        1
10    1636
Name: EVT_STAT_CD, dtype: int64

In [28]:
phishing.SME_EVT_YN.value_counts()

Y    198
Name: SME_EVT_YN, dtype: int64