<a href="https://colab.research.google.com/github/hoonzi-s/SmartChian/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preprocessing

In [2]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

In [34]:
# 2020, 2021 데이터 병합
df0 = pd.read_csv('/content/drive/MyDrive/스마트치안/KP2020.csv', encoding = 'euc-kr')
df1 = pd.read_csv('/content/drive/MyDrive/스마트치안/KP2021.csv', encoding = 'euc-kr')
df = pd.concat([df0, df1])

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2671137 entries, 0 to 2594059
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   RECV_DEPT_NM   object
 1   RECV_CPLT_DM   object
 2   NPA_CL         int64
 3   EVT_STAT_CD    int64
 4   EVT_CL_CD      int64
 5   RPTER_SEX      float64
 6   HPPN_PNU_ADDR  object
 7   HPPN_X         float64
 8   HPPN_Y         float64
 9   SME_EVT_YN     object
dtypes: float64(3), int64(3), object(4)
memory usage: 224.2+ MB

In [35]:
# 13: 대전, 19: 충남, 31: 세종
df.NPA_CL.value_counts().sort_index()

8        5348
9         685
10        543
11       1215
12        458
13    1065727
14        198
15       7811
16        908
17        612
18       6395
19    1479674
20       3039
21        998
22        865
23        652
24        259
31      95750
Name: NPA_CL, dtype: int64

In [39]:
# 13 19 31만 남기고 RECV_DEPT_NM 삭제
# REPT_DEPT_NM은 접수부서임(NPA_CL이 정확함)
df = df.loc[df.NPA_CL.isin([13, 19, 31]), :]
df.drop('RECV_DEPT_NM', axis = 1, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2641151 entries, 0 to 2594059
Data columns (total 9 columns):
 #   Column         Dtype
---  ------         -----
 0   RECV_CPLT_DM   object
 1   NPA_CL         int64
 2   EVT_STAT_CD    int64
 3   EVT_CL_CD      int64
 4   RPTER_SEX      float64
 5   HPPN_PNU_ADDR  object
 6   HPPN_X         float64
 7   HPPN_Y         float64
 8   SME_EVT_YN     object
dtypes: float64(3), int64(3), object(3)
memory usage: 201.5+ MB

In [41]:
df.EVT_CL_CD.value_counts().sort_index()

101        84
102        53
103        12
104     35781
105       382
106      3348
107     31760
108      4410
109       764
201     61676
202      8969
203        61
204      1596
205      8167
206     11877
207      2596
208      9877
209      4296
210     63076
211     11116
212      2962
213      2062
214       645
215     34928
216       863
301     82764
302     61923
303     14269
304     10314
305     43549
306     42142
307    178338
308     12327
401    168999
402     38433
403     23800
404        15
405        36
406     50869
501    532791
502      4332
503     22373
504       333
505      6896
506     21430
507      3298
508     14595
509     21756
601    876057
602      1761
603      2925
604     53043
605        55
606     35724
607      3805
609      9169
610      1669
Name: EVT_CL_CD, dtype: int64

In [42]:
phishing = df.loc[df.EVT_CL_CD == 215]
display(pd.DataFrame(phishing.info()))
display(phishing.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34928 entries, 333 to 2594007
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RECV_CPLT_DM   34928 non-null  object
 1   NPA_CL         34928 non-null  int64
 2   EVT_STAT_CD    34928 non-null  int64
 3   EVT_CL_CD      34928 non-null  int64
 4   RPTER_SEX      34928 non-null  float64
 5   HPPN_PNU_ADDR  26689 non-null  object
 6   HPPN_X         29233 non-null  float64
 7   HPPN_Y         29233 non-null  float64
 8   SME_EVT_YN     4966 non-null   object
dtypes: float64(3), int64(3), object(3)
memory usage: 2.7+ MB

Empty DataFrame
Columns: []
Index: []

,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
333,20/12/01 15:06:38.000000000,19,10,215,1.0,충청남도 아산시 온천동(온양1동) 1556(신학산텔레콤),127.001705,36.786898,NaN
360,20/12/01 14:53:20.000000000,19,10,215,2.0,충청남도 공주시 우성면 동대리(행정:우성면) 173,127.052120,36.470196,NaN
367,20/12/01 11:15:43.000000000,19,10,215,2.0,충청남도 공주시 반포면 공암리(행정:반포면),127.251164,36.395766,NaN
372,20/12/01 13:08:09.000000000,19,10,215,1.0,충청남도 아산시 음봉면 삼거리(행정:음봉면) 203-3,127.012487,36.849074,NaN
375,20/12/01 14:00:07.000000000,19,10,215,1.0,충청남도 천안시 동남구 다가동(일봉동) 354-1(농협중앙회봉명지점),127.140700,36.802345,NaN

In [44]:
phishing.EVT_STAT_CD.value_counts().sort_index()

5         7
7         3
10    34918
Name: EVT_STAT_CD, dtype: int64

In [45]:
phishing.SME_EVT_YN.value_counts()

Y    4829
N     137
Name: SME_EVT_YN, dtype: int64

<보이스피싱>
위치 시간 연령대 인구수 소득수준 가구형태

<교통사고

In [ ]:
phishing.csv
traffic.csv